<mat-card>
  <p>
    Please write the date and time from when you started to when you ended.
  </p>



  <div  fxLayoutGap="20px">

    <form class="col1" fxLayout="column"  [formGroup]="timeForm" (ngSubmit)="onDateTimeSubmit(timeForm)">

      <div class="control1" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">

        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Start Date</mat-label>
          <input class="date-control" [textMask]="{mask: mask1}" matInput placeholder="mm/dd/yyy" formControlName="startDate">
        </mat-form-field>

        

      </div>

      <div class="control2" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">

        <mat-form-field appearance="fill" fxFlex="75%">
          <mat-label>End Date</mat-label>
          <input matInput placeholder="mm/dd/yyy hh:mm" [textMask]="{mask: mask2}" formControlName="endDate">
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25%">
          <mat-select formControlName="amPM2">
            <mat-option *ngFor="let item of amOrPm" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-form-field appearance="fill">
        <mat-label>Reason</mat-label>
        <textarea name="" matInput formControlName="reason"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary">Calculate</button>

    </form>


  </div>


  <br>


</mat-card>