<!-- horizontal -->
<div fxLayout="row" fxLayoutAlign="center center">



  <div fxFlex="95%"  fxLayoutAlign="center center" fxLayout="row">

    <div class="container" fxFlex="100%">

      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
        <app-attendance-modal (onRegisterTimeSheetEvent)="getTimeSheet($event)">
        </app-attendance-modal>



        <app-timetable [data]="timeSheetData" fxFlex="65%" >
        </app-timetable>

      </div>




    </div>

  </div>


</div>