/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette( $mat-green,900);
$app-accent:mat-palette($mat-yellow, A200, A100, A400);
$app-theme:mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);


body {
    margin: 0;
    font-family: Roboto;
    background-color: #216f44;
    height: 100vh;
}

.mat-dialog-container {
    height: auto !important;
}